*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* color: #8f6c53; */
}

@font-face{
    src:url(../fonts/Hypatia-Sans-Pro.ttf);
    font-family: 'Hypatia-Sans-Pro'
}



@font-face{
    src:url(../fonts/BazaART.otf);
    font-family: 'BazaART'
}

@font-face{
    src:url(../fonts/OPTIMA.woff);
    font-family: 'OPTIMA'
}

.headercolor{
    background-color: #efefef;
}

.header{
    padding-top: 60px;
    padding-bottom: 38px;
    position: relative;
    display: flex;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header__logo{
    text-decoration: none;
    display: inline-block;
    margin-right: 50px;
}

.header__link{
    text-transform: uppercase;
    margin: 0 1rem;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    color: #000;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
}

.header__link:hover{
    color: #b1917b;
    transition: color .0s linear;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    text-decoration: none;
}



.footer-phone{
    background-color: #f9f9f9;
    padding-top: 100px;
}




.footer-phone__logo{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    position: absolute;
    right: 0;
}


.footer-phone__contactos{
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    font-size: 14px;
    margin-bottom: 140px;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
}

.footer-phone__contactos-contacto{
    width: 25%;
}


.footer-phone__titulo-redes{
    margin-bottom: 28px;
    font-family: 'BazaART','Hypatia-Sans-Pro', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-phone__title{
    margin-bottom: 28px;
    font-family: 'BazaART','Hypatia-Sans-Pro', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}





.footer-phone__contacto-redes{
    width: 25%;
}


.footer-phone__item__facebook{
    margin-bottom: 10px;
    color: #b1917b;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    text-decoration: none;
}

.footer-phone__item__numero{
    margin-bottom: 10px;
    color: #b1917b;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
}

.footer-phone__links{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 6px;
    align-items: center;
}


.footer-phone__links--linea{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: flex;
    font-weight: 300;
    justify-content: flex-end;
    padding-bottom: 60px;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
}

.footer-phone__copyrights{
    text-transform: uppercase;
    align-self: flex-start;
}

.footer-phone__links a, h4{
    color: #aaa;
    margin-right: 5px;
}


.footer-phone__links--linea a{
    width: 98px;
    margin-left: 10px;
}

.footer-phone__links a:first-of-type{
    margin-left: auto;
}

a{
    text-decoration: none;
}

.contenido{
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
}


.pagina-about{
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
    width: 100%;
    overflow: hidden;
}


a{
    text-decoration: none;
}


.ab-essentials{
    color: #000;
    margin: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
    border-top: 0;
    padding: 70px 0;
    text-align: center;
    position: relative;
    background-color: #efefef;
}

.ab-essentials__text{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
    display: inline-block;
    width: 100%;
    max-width: 640px;
    color: #8f6c53;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    font-size: 114px;
    text-transform: uppercase;
    line-height: 85px;
}

.ab-essentials__image{
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.ab-heisenberg{
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
    border-top: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 840px;
}

.ab-heisenberg__image{
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
    flex-basis: 50%;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.ab-heisenberg__text{
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font: Arial;
    vertical-align: baseline;
    flex-basis: 40%;
    max-width: 340px;
    padding-right: 20px;
    padding-top: 30px;
    margin-right: 10vw;
}

.ab-heisenberg__text-contenido{
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    vertical-align: baseline;
    font-weight: 300;
    line-height: 1.8;
    transition: opacity .7s linear,transform .3s linear;
    transform: translate(0px, 0px);
    opacity: 1;
}

.ab-heisenberg__text-titulo{
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-transform: uppercase;
    font-size: 58px;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    color: #8f6c53;
    margin: 70px 0 30px 0;
    transition: opacity .7s linear,transform .3s linear;
    transform: translate(0px, 0px);
    opacity: 1;
}



.ab-pronto{
    background-color: #a68268;
    background-image: url("../img/fondodeabout.png");
    background-repeat: repeat;
    height: 760px;
    padding: 190px 0;
    display: flex;
}


.ab-pronto__image{
    flex-basis: 50%;
    background-image: url("../img/pronto-0002.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 550px;
}

.ab-pronto__text{
    padding-right: 10vw;
    flex-basis: 50%
}

.ab-pronto__text-contenido{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    vertical-align: baseline;
    color: rgb(255, 255, 255);
    font-weight: 300;
    line-height: 1.8;
    transition: opacity .7s linear,transform .3s linear;
    transform: translate(0px, 0px);
    opacity: 1;
}

.ab-pronto__text-titulo{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    vertical-align: baseline;
    color: #fff;
    font-family: 'BazaART','Hypatia-Sans-Pro', sans-serif;
    font-size: 58px;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: .9;
    transition: opacity .7s linear,transform .3s linear;
    transform: translate(0px, 0px);
    opacity: 1;
}




.pagina-contenido{
    background-color: #2b2b36;
    color: #fff;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    padding-top: 0;
    border-top: 0;
    border-color: #aaa;
}

.pagina-contenido__title{
    text-transform: uppercase;
    font-family: 'BazaART','Hypatia-Sans-Pro', sans-serif;
    font-size: 121px;
    line-height: 90px;
    margin-bottom: 20px;
}

p{
    margin-bottom: 28px;
    margin: 0px 0px 28px;
}

.pagina-contenido__title--mobile{
    display: none;
}

.pagina-contenido__form-container{
    position: relative;
    /* display: inline-block; */
    width: 350px;
    max-width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 2rem;
    float: right;
}



.pagina-contenido__form-container textarea{
    min-height: auto;
}

.pagina-contenido__form-container input, .pagina-contenido__form-container textarea{
    color: #fff;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: calc(100% - 8px);
    padding: 10px 4px;
    margin: 10px 4px;
}

.pagina-contacto__form-boton-line{
    text-align: right;
}

.pagina-contacto__form-boton{
    margin-top: 25px;
    display: inline-block;
    padding: 14px 30px 12px 30px;
    border: 1px solid #aaa;
    color: #fff;
    background-color: #2b2b36;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s linear, background-color .3s linear;
    width: 200px;
}

.pagina-contacto__footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 187px;
    margin-bottom: 0;
    margin-right: 254px;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
    clear: both;
}


.pagina-contacto__footer-item{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Hypatia-Sans-Pro', sans-serif;
}

.pagina-contacto__footer-item a{
    margin-right: 2rem;
}

.contacto-fondo{
    background-color: #2b2b36;
}

.pagina-contacto__footer a:first-child{
    margin-left: 200px;
}

.pagina-contacto__form-boton button:hover{
    color: #fff;
}

input{
    border-radius: 0;
    background-color: #fff;
    color: #000;
}

.header__contacto{
    color: #fff;
}



.antezana-lista{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 40px;
    margin-bottom: 60px;
}

.antezana-producto{
    line-height: 1.4;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    grid-column-end: span 2;
}

.antezana-producto__grande{
    display: block;
    align-items: center;
    overflow-y: hidden;
}

.antezana-producto:nth-child(4){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(5){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(9){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(10){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(14){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(15){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(19){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(20){
    grid-column-end: span 3;
}
.antezana-producto:nth-child(24){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(25){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(29){
    grid-column-end: span 3;
}

.antezana-producto:nth-child(30){
    grid-column-end: span 3;
}


.mobile{
    display: none;
}


@media screen and (max-width: 1000px) and (min-width: 1px){
    .header{
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 670px) and (min-width: 1px){
    .header{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 450px) and (min-width: 1px){
    .header{
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media (max-width: 450px) and (min-width: 1px){
    .ab-essentials{
        padding: 30px 0;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-essentials{
        padding: 50px 0;
    }
}

@media (max-width: 450px) and (min-width: 1px){
    .ab-essentials__text{
        font-size: calc(100vw/5.7);
        line-height: 57px;
        max-width: 100%;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-essentials__text{
        font-size: 80px;
        line-height: 65px;
        max-width: 450px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-essentials__text-line1{
        margin-top: 6px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-essentials__text-line5{
        margin-top: 6px;
    }
}


@media (max-width: 450px) and (min-width: 1px){
    .ab-essentials__image{
        width: 180px;
        height: 240px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-essentials__image{
        width: 300px;
        height: 377px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-heisenberg{
        display: block;
        height: auto;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-heisenberg__image img{
        right: 0;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-heisenberg__text{
        max-width: 100%;
        padding-top: 0;
        padding-left: 20px;
        padding-bottom: 30px;
    }
}


@media (max-width: 670px) and (min-width: 1px){
    .ab-heisenberg__text-titulo{
        margin: 30px 0 10px 0;
        font-size: 24px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-heisenberg__text-contenido{
        font-size: 14px;
    }
}

@media (max-width: 450px) and (min-width: 1px){
    .ab-pronto{
        height: 500px;
        padding: 40px 0;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-pronto{
        flex-direction: column;
        height: 600px;
    }
}

@media (max-width: 450px) and (min-width: 1px){
    .ab-pronto__image{
        background-size: 300px;
    }
}

@media (max-width: 1024px) and (min-width: 451px){
    .ab-pronto__image{
        background-size: 300px;
    }
}

@media (max-width: 1024px) and (min-width: 451px){
    .ab-pronto__image{
        flex-basis: 60%;
    }
}

@media (max-width: 450px) and (min-width: 1px){
    .ab-pronto__text{
        padding: 0 20px 0 60px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-pronto__text{
        padding: 0 30px 0 80px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .ab-pronto__text-titulo{
        font-size: 24px;
    }
}

@media (max-width: 450px) and (min-width: 1px){
    .ab-pronto__text-contenido{
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 451px){
    .ab-pronto{
        padding: 90px 0;
    }
}


@media screen and (max-width: 670px) and (min-width: 1px){
    .footer-phone__logo{
        display: none;
    }
}


@media screen and (max-width: 450px) and (min-width: 1px){
    .footer-phone__logo{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .footer-phone__logo{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 450px) and (min-width: 1px){
    .footer-phone__contactos{
        padding-left: 10px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .footer-phone__contactos{
        padding-left: 40px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .footer-phone__contactos-contacto{
        width: 50%;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .footer-phone__contactos-redes{
        width: 50%;
    }
}


@media (max-width: 670px) and (min-width: 1px){
    .ab-pronto__text{
        padding: 0 30px 0 80px;
    }
}


@media (max-width: 670px) and (min-width: 1px){
    .antezana-lista{
        grid-template-columns: 1fr;
        column-gap: 5px;
        padding-left: 0;
        padding-right: 0;
        row-gap: 20px;
    }
}

@media (max-width: 1024px) and (min-width: 451px){
    .antezana-lista{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .antezana-producto{
        grid-column-end: span 1;
    }
}

@media (max-width: 1024px) and (min-width: 451px){
    .antezana-producto{
        font-size: 1.25rem;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .antezana-producto:nth-child(4){
        grid-column-end: span 3;
    }
}

@media (max-width: 670px) and (min-width: 1px){
    .antezana-producto:nth-child(9){
        grid-column-end: span 3;
    }
}


@media screen and (max-width: 1280px) and (min-width: 1025px){
    .pagina-contenido{
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media screen and (max-width: 1024px) and (min-width: 451px){
    .pagina-contenido{
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media screen and (min-height: 840px) {
    .pagina-contenido{
        padding-top: 2px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px) {
    .pagina-contenido{
        padding-top: 36px;
    }
}

@media screen and (max-width: 450px) and (min-height: 1px){
    .pagina-contenido{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .pagina-contenido{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .pagina-contenido__title--desktop{
        display: none;
    }
}


@media screen and (max-width: 450px) and (min-width: 1px){
    .pagina-contenido__title{
        font-size: 40px;
        line-height: 34px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .pagina-contenido__title{
        font-size: 60px;
        line-height: 50px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 1px){
    .pagina-contenido__title{
        line-height: 60px;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .pagina-contenido__title--mobile{
        display: block;
    }
}

@media screen and (max-width: 780px){
    .pagina-contacto__footer{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .pagina-contacto__footer-item{
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .pagina-contacto__footer a:first-child{
        margin-left: 0;
    }
}


@media screen and (max-width: 670px) and (min-width: 1px){
    .footer-phone__copyrights{
        display: none;
    }
}

@media screen and (max-width: 670px) and (min-width: 1px){
    .footer-phone__links--linea{
        padding-right: 33px;
    }
}


@media screen and (max-width: 670px) and (min-width: 1px){
    .wallpaper{
        width: 399px;
        height: 725px;
    }
}


@media screen and (max-width: 670px) and (min-width: 1px){
    .wallpaper{
        display: none;
    }
}


@media screen and (max-width: 670px) and (min-width: 1px){
    .mobile{
        display: block;
/*         padding-left: 7px; */
        overflow: hidden;
    }
}


@media screen and (width: 375px) and (height: 812px){
    .mobile3{
        display: block;
        width: 100%;
    }
}

@media screen and (width: 414px) and (height: 736px){
    .mobile{
        display: block;
        width: 100%;
    }
}

@media screen and (width: 414px) and (height: 736px){
    .mobile3{
        display: block;
        width: 100%;
    }
}

@media screen and (width: 375px) and (height: 667px){
    .mobile{
        display: block;
        overflow: hidden;
    }
}


@media screen and (width: 390px) and (height: 844px){
    .mobile{
        display: block;
        overflow: hidden;
    }
}

@media screen and (width: 375px) and (height: 667px){
    .footer-phone__links--linea{
        padding-right: 15px;
    }
}

@media screen and (width: 375px) and (height: 812px){
    .footer-phone__links--linea{
        padding-right: 17px;
    }
}

.desktop1{
    max-width: 100%
}



.inicio__lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    column-gap: 10px;
}



@media screen and (max-width: 670px) and (min-width: 1px) {
    .inicio__lista{
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
        row-gap: 20px;
    }
}


.image{
    display: block;
}

#text{
    position:absolute;    
    color:white;
    font-size:3.64583vw;
    font-family: 'OPTIMA', sans-serif;
    left:48px;
    top:1156px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400
}

.texto{
    position:absolute;    
    color:white;
    font-size:3.64583vw;
    font-family: 'OPTIMA', sans-serif;
    top:1156px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400;
    padding-left: 179px;
}

.texto2{
    position:absolute;    
    color:white;
    font-size:3.64583vw;
    font-family: 'OPTIMA', sans-serif;
    top:1156px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400;
    padding-left: 120px;
}

@media screen and (max-width: 670px) and (min-width:1px) {
    #text{
        padding-left: 22px;
        font-size: 37px;
        top: 1020px;
    }
}


@media screen and (max-width: 670px) and (min-width:1px) {
    .texto{
        padding-left: 110px;
        font-size: 50px;
        top: 1562px;
    }
}


@media screen and (max-width: 670px) and (min-width:1px) {
    .texto2{
        padding-left: 62px;
        font-size: 50px;
        top: 2103px;
    }
}


@media screen and (max-width: 1366px) and (min-width:1px){
    .texto2{
        font-size: 50px;
        padding-left: 70px;
    }
}


@media screen and (max-width: 1366px) and (min-width:1px){
    .texto{
        font-size: 50px;
        padding-left: 110px;
    }
}


@media screen and (max-width: 450px) and (min-width:1px) {
    .texto2{
        font-size: 50px;
        padding-left: 47px;
    }
}

@media screen and (min-width: 1366px){
    .notebook{
        display: none;
    }
}

@media screen and (max-width: 670px) and (min-width:1px) {
    .note{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .note{
        display: block;
    }
}


@media screen and (max-width: 1366px) and (min-width:1px){
    .wallpaper{
        display: none;
    }
}

